@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Welcome to HandmadeCraft Admin Server</h1>
            <p class="lead">Manage your HandmadeCraft business with ease.</p>
            <p>Explore the various features and functionalities available to streamline your operations.</p>
            <p class="mb-5">If you need any assistance, refer to the <a href="https://documentation.handmadecraft.com" target="_blank">documentation</a> or contact support.</p>
            <a asp-controller="Users" asp-action="Index" class="btn btn-primary btn-lg">View all users</a>
        </div>
    </div>
</div>

<button id="toggleChat" class="btn btn-info btn-lg mt-3 fixed bottom-4 right-4 z-10">Read users' messages</button>

<div id="talkjs-container" style="height: 500px; display: none; position: fixed; bottom: 10px; right: 10px;"></div>

<script src="https://cdn.talkjs.com/talk.js"></script>
<script>
    function initializeTalk() {
        if (typeof Talk !== 'undefined') {
            var me = new Talk.User({
                id: 'admin',
                name: 'Admin',
                email: 'admin@gmail.com',
                photoUrl: 'https://t4.ftcdn.net/jpg/03/75/38/73/360_F_375387396_wSJM4Zm0kIRoG7Ej8rmkXot9gN69H4u4.jpg', // Replace with admin avatar URL
                welcomeMessage: 'Hey there! How can I help you?',
                role: 'admin'
            });

            window.talkSession = new Talk.Session({
                appId: 'tFfHQ5OV',
                me: me
            });

            function toggleChat() {
                var chatContainer = document.getElementById("talkjs-container");
                chatContainer.style.display = chatContainer.style.display === "none" ? "block" : "none";
            }

            document.getElementById("toggleChat").addEventListener("click", toggleChat);

            const chatbox = talkSession.createChatbox();
            chatbox.mount(document.getElementById("talkjs-container"));

            const inbox = talkSession.createInbox();
            inbox.mount(document.getElementById("talkjs-container"));

        } else {
            console.error('Talk.js library is not loaded.');
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        initializeTalk();
    });
</script>
